<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Management</title>
    <link rel="stylesheet" href="/styles/billing_nav.css">
</head>
<body>
    <!-- Navbar Structure -->
    <div class="second-navbar">
        <div class="second-navbar-upper">
            <!-- Upper Half: Optional content like a logo -->
        </div>
        <div class="second-navbar-lower">
            <nav>
                <a href="/">Services</a>
                <a href="/packagebill">Packages</a>
                <a href="/productbill">Products</a>
            </nav>
        </div>
    </div>
    
</body>
</html>
