<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/navbarstyle.css">
    <link rel="stylesheet" href="/styles/headerstyle.css">
</head>
<body>
    <!-- Navbar Structure -->
    <div class="navbar">
        <!-- Upper Half: Logo -->
        <div class="navbar-upper">
            
            
        </div>

        <!-- Lower Half: Navigation Links -->
        <div class="navbar-lower">
            <nav>
                <img src="/images/logo3.png" alt="Salon Logo" class="logo" width="200px" height="80px">
                <a href="/dashboard">Dashboard</a>
                <a href="/">Billing</a>
                <a href="/inventory">Inventory</a>
                <a href="/client">Clients</a>
                <a href="/appointment">Appointments</a>
                <a href="/menu-management">Menu</a>
                <a href="/staff">Staffs</a>
                <a href="/export">Extract Bills</a>
            </nav>
        </div>
    </div>

</body>
</html>
