<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Menu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Service Menu</h1>

    <ul>
        <% services.forEach(function(service) { %>
            <li>
                <span><strong>Service:</strong> <%= service.serviceName %></span><br>
                <span><strong>Regular Price:</strong> $<%= service.regularPrice.toFixed(2) %></span><br>
                <span><strong>Membership Price:</strong> $<%= service.membershipPrice.toFixed(2) %></span>
            </li>
        <% }); %>
    </ul>

</body>
</html>
