<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo 3-square.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin- Noble Evergreen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/signinstyle.css">
</head>
<body>
    <div class="wrapper">
        <form action="/add-signup" method="post">
            <h1>Signup</h1>
            <div class="input-box">
                <input type="email" name="mail" placeholder="Enter mail ID" autocomplete="off" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Enter password" required>
                <i class='bx bxs-lock-alt'></i>  
            </div>
            <div class="input-box">
                <select name="role" required>
                    <option value="admin">Admin</option>
                    <option value="staff">Staff</option>
                </select>
            </div>
            <button type="submit" class="btn">Signup</button>
        </form>
    </div>
</body>
</html>