<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin- Noble Evergreen</title>
</head>
<body>
    <h1>SIGN IN</h1>
    <form action="/do-signin" method="post">
        <label for="username">Email</label>
        <input type="email" name="mail" placeholder="Enter mail ID" required>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Sign in</button>
    </form>
</body>
</html>