<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/logo 3-square.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin- Noble Evergreen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/styles/signinstyle.css">
</head>
<body>
    <div class="wrapper">
        <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
            <div class="alert-banner" role="alert">
                <%= errorMessage %>
            </div>
        <% } %>
        <form action="/do-signin" method="post">
            <h1>Login</h1>
            <div class="input-box">
                <input type="email" name="mail" placeholder="Enter mail ID" required autocomplete="email" value="<%= submittedMail || '' %>" autofocus>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" id="signin-password" placeholder="Enter password" required>
                <i class='bx bx-show' id="signin-toggle-eye" style="cursor:pointer;"></i>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
    <script>
        const signinPassword = document.getElementById('signin-password');
        const signinToggleEye = document.getElementById('signin-toggle-eye');
        signinToggleEye.addEventListener('click', function() {
            if (signinPassword.type === 'password') {
                signinPassword.type = 'text';
                signinToggleEye.classList.remove('bx-show');
                signinToggleEye.classList.add('bx-hide');
            } else {
                signinPassword.type = 'password';
                signinToggleEye.classList.remove('bx-hide');
                signinToggleEye.classList.add('bx-show');
            }
        });
    </script>
    <%- include('partials/globalScripts') %>
</body>
</html>