*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #b0da7d;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    /* background: #8DBE50; */
    background-image: url(/images/cover1.png);
    background-size: cover;
    border: 2px solid #ffffff;

    box-shadow: 0 0 10px rgba(57, 105, 25, 0.877);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 32px;
    text-align: center;
    font-family: Georgia;
    margin: 20px 0;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height:50px;
    margin: 20px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(57, 105, 25, 0.877);
    border-radius: 40px;
    color: white;
    font-size: 19px;
    padding: 20px 46px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
    font-size: 17px;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #f5f5dca6;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: rgba(57, 105, 25, 0.877);
    font-weight: 600;
}

.btn:hover{
    width: 100%;
    height: 45px;
    background: #f5f5dc;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: rgba(57, 105, 25, 0.877);
    font-weight: 600;
}


