body {
    font-family: 'Gowun Batang', serif;
    background-color: #D3E4CD;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 20px;
    color: #333;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background: #F0F8E2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.card h2 {
    color: #333;
}

.card p {
    font-size: 16px;
    color: #666;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

th {
    background-color: #555;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

select {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

select:focus {
    outline: none;
    border-color: #555;
}

label {
    text-align: center;
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

button, input[type="button"], input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    background-color: #3e8e41;
}
